<!-- <div>{{name}}</div>

<div (click)="fetchData()">Click me</div> -->


<!-- <router-outlet></router-outlet> -->

<!-- <ul *ngFor = "let user of users">
   
                <li > {{user }}</li>
            
   
</ul> -->
<!-- <table calss="table" >
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mobile number</th>
    </tr>
    <tr *ngFor = "let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.mobilenumber }}</td>
    </tr>
</table> -->

<div *ngIf = "isUserLoggedIn; else logout">
    <h3>Welcome to my channel.</h3>
</div>

<ng-template #logout>
<h3>My Channel logout</h3>
</ng-template>

